<nav class="navbar navbar-dark" id="header">
  <a class="navbar-brand" href="/"><h1>CRUD Users</h1></a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div>
        <table class="table mt-4 rounded-table shadow-effect">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of users
                  | slice
                    : (page - 1) * pageSize
                    : (page - 1) * pageSize + pageSize
              "
              (click)="openForEdit(user)"
              [class.active]="user == selectedUser"
              class="table-row"
            >
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteUser(content, user)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                    />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11
                            V2h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="users.length"
          class="shadow-effect"
        ></ngb-pagination>
      </div>

      <div class="card mt-4">
        <div class="card-body shadow-effect">
          <div *ngIf="selectedUser.id === 0" class="card-title">
            Create a new User
          </div>
          <div *ngIf="selectedUser.id !== 0" class="card-title">
            Update User
          </div>

          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="selectedUser.name"
              placeholder="Name"
              class="form-control"
              required
              minlength="3"
              maxlength="50"
              pattern="[a-zA-Z ]*"
              #name="ngModel"
            />
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="name.errors && name.errors['required']">
                Name is required.
              </div>
              <div *ngIf="name.errors && name.errors['minlength']">
                Name must be at least 2 characters long.
              </div>

              <div *ngIf="name.errors && name.errors['pattern']">
                Name can only contain letters and spaces.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="selectedUser.lastname"
              placeholder="Lastname"
              class="form-control"
              required
              minlength="3"
              maxlength="50"
              pattern="[a-zA-Z ]*"
              #lastname="ngModel"
            />
            <div
              *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="lastname.errors && lastname.errors['required']">
                Lastname is required.
              </div>
              <div *ngIf="lastname.errors && lastname.errors['minlength']">
                Lastname must be at least 2 characters long.
              </div>

              <div *ngIf="lastname.errors && lastname.errors['pattern']">
                Lastname can only contain letters and spaces.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="selectedUser.email"
              placeholder="Email"
              class="form-control"
              required
              minlength="10"
              maxlength="50"
              pattern="^[A-Za-z0-9+_.-]+@(.+\..+)$"
              #email="ngModel"
            />
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="email.errors && email.errors['required']">
                email is required.
              </div>
              <div *ngIf="email.errors && email.errors['minlength']">
                email must be at least 2 characters long.
              </div>

              <div *ngIf="email.errors && email.errors['pattern']">
                email must be valid format.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="selectedUser.phone"
              placeholder="Phone Number"
              class="form-control"
              required
              minlength="12"
              maxlength="12"
              pattern="^\+\d+$"
              #phone="ngModel"
            />
            <div
              *ngIf="phone.invalid && (phone.dirty || phone.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="phone.errors && phone.errors['required']">
                phone is required.
              </div>
              <div *ngIf="phone.errors && phone.errors['minlength']">
                phone must be 12 characters long.
              </div>

              <div *ngIf="phone.errors && phone.errors['pattern']">
                phone must begin with + and contains only numbers.
              </div>
            </div>
          </div>

          <button
            *ngIf="selectedUser.id === 0"
            class="btn btn-primary mt-2"
            (click)="addUser()"
            [disabled]="
              !name.valid || !lastname.valid || !email.valid || !phone.valid
            "
          >
            Add
          </button>
          <button
            *ngIf="selectedUser.id !== 0"
            class="btn btn-primary"
            (click)="updateUser()"
            [disabled]="
              !name.valid || !lastname.valid || !email.valid || !phone.valid
            "
          >
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete User</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete "{{ selectedUser.name }}
      {{ selectedUser.lastname }}" user?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      Close
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">
      OK
    </button>
  </div>
</ng-template>
